<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>444961410762-n1enjhf2uv32sll1l9vg7c2e2n80mhg0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.444961410762-n1enjhf2uv32sll1l9vg7c2e2n80mhg0</string>
	<key>API_KEY</key>
	<string>AIzaSyA98yv8n7s8sgWr_w8L1Am2vOJKhOF1XFw</string>
	<key>GCM_SENDER_ID</key>
	<string>444961410762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>to-do-app-3cfb6</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-app-3cfb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444961410762:ios:b6e9d3527b266bb2d56e33</string>
	<key>DATABASE_URL</key>
	<string>https://to-do-app-3cfb6.firebaseio.com</string>
</dict>
</plist>